In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
df = pd.read_excel('adel.xlsx', sheet_name=1, index_col=0)

In [3]:
df.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,...,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25
ID,,,,,,,,,,,,,,,,,,,,,
1,43,4205,20,210.25,97.79,3442.75,40.08,1.19,21,43,...,269.87,60.66,19.83,172.13,4.003023,1.00,98.0,100.0,8,6.722689
2,143,5344,26,205.54,37.37,2420.70,76.96,2.30,35,72,...,221.73,58.26,23.83,93.10,0.651049,0.96,86.4,97.9,9,3.910000
3,77,4760,24,198.33,61.82,2727.50,39.62,2.36,36,68,...,256.38,55.42,23.92,113.64,1.475844,1.17,91.7,100.0,16,6.780000
4,723,24186,49,493.59,33.45,7241.18,273.80,3.77,77,129,...,349.13,87.00,45.40,147.77,0.204385,0.73,55.8,69.6,24,6.370000
5,238,9549,39,244.85,40.12,3592.97,86.61,4.10,55,94,...,225.29,66.68,28.20,92.12,0.387059,0.74,78.2,94.1,18,4.390000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618 entries, 1 to 618
Data columns (total 25 columns):
v1     618 non-null int64
v2     618 non-null int64
v3     618 non-null int64
v4     618 non-null float64
v5     618 non-null float64
v6     618 non-null float64
v7     618 non-null float64
v8     618 non-null float64
v9     618 non-null int64
v10    618 non-null int64
v11    618 non-null int64
v12    618 non-null float64
v13    618 non-null int64
v14    618 non-null float64
v15    618 non-null float64
v16    618 non-null float64
v17    618 non-null float64
v18    618 non-null float64
v19    618 non-null float64
v20    618 non-null float64
v21    618 non-null float64
v22    618 non-null float64
v23    618 non-null float64
v24    618 non-null int64
v25    618 non-null float64
dtypes: float64(17), int64(8)
memory usage: 125.5 KB

In [5]:
correlation, p_values = st.spearmanr(df)

In [6]:
correlation.shape

(25, 25)

In [11]:
collapsed_correlation = correlation.reshape(625)
threshold = 0.80
((collapsed_correlation >= threshold).sum() + (collapsed_correlation <= -threshold).sum()) / len(collapsed_correlation)

0.4208

It seems there are only positive monotonic relationships, and several of them. We need to find a way to form equations.